@tailwind base;
@tailwind components;
 @tailwind utilities;
:root  {
    --primary-50: #feecea;
    --primary-100: #fcd8d6;
    --primary-200: #f9b1ad;
    --primary-300: #f78a83;
    --primary-400: #f4635a;
    --primary-500: #f13c31;
    --primary-600: #c13027;
    --primary-700: #91241d;
    --primary-800: #601814;
    --primary-900: #300c0a;
    --primary-950: #180605;
    --secondary-50: #e9eaeb;
    --secondary-100: #d3d5d6;
    --secondary-200: #a8aaad;
    --secondary-300: #7c8085;
    --secondary-400: #51555c;
    --secondary-500: #252b33;
    --secondary-600: #1e2229;
    --secondary-700: #161a1f;
    --secondary-800: #0f1114;
    --secondary-900: #07090a;
    --secondary-950: #040405;
    --tertiary-50: #f3f5f5;
    --tertiary-100: #e8eaec;
    --tertiary-200: #d1d5d9;
    --tertiary-300: #b9c0c5;
    --tertiary-400: #a2abb2;
    --tertiary-500: #8b969f;
    --tertiary-600: #6f787f;
    --tertiary-700: #535a5f;
    --tertiary-800: #383c40;
    --tertiary-900: #1c1e20;
    --tertiary-950: #0e0f10;
    --quaternary-50: #fff5ee;
    --quaternary-100: #ffeadd;
    --quaternary-200: #ffd5ba;
    --quaternary-300: #ffc098;
    --quaternary-400: #ffab75;
    --quaternary-500: #ff9653;
    --quaternary-600: #cc7842;
    --quaternary-700: #995a32;
    --quaternary-800: #663c21;
    --quaternary-900: #331e11;
    --quaternary-950: #190f08;
    --quinary-50: #e6e6e6;
    --quinary-100: #cccccc;
    --quinary-200: #999999;
    --quinary-300: #666666;
    --quinary-400: #333333;
    --quinary-500: #000000;
    --quinary-600: #000000;
    --quinary-700: #000000;
    --quinary-800: #000000;
    --quinary-900: #000000;
    --quinary-950: #000000;
}